#jinja2: lstrip_blocks: "True", trim_blocks: "True"
# {{ ansible_managed }}
{% for group, rules in _ipfw_rules_combined | dictsort %}
# {{ group }}
{% for rule in rules %}
{{ rule }}
{% endfor %}
{% endfor %}